---
layout: default
title: About
logo_version: dark
description_text: >-
  A fotografia surgiu pra mim ainda na adolescência. Por volta dos 14 anos de
  idade, eu empunhei uma câmera analógica, e no momento exato, em que através do
  visor eu vi o mundo focado e desfocado, eu nunca mais fui o mesmo, com toda
  certeza. Mas a fotografia, naquela época era algo muito distante. Trabalhar
  como fotógrafo então, mais ainda. Fui para um caminho natural das coisas e por
  ser atleta, me formei em Educação Física. Porém é inevitável que após alguns
  anos fazendo algo que você não nasceu pra fazer, você se questione e tente
  mudar. Mudar radicalmente. Foi então que resolvi largar tudo e fui parar no
  outro lado do mundo, na Nova Zelândia. Ali, em 2008, retomei minha relação com
  a fotografia, e desde então continuamos juntos. e o resto é um pouco de
  história, que trago em forma de imagens
image: /assets/images/bruno-santos-fotografo.jpg
---

<header id="pages-header" class="pages-header">
  {% include essentials/nav-option-1.html %}
</header>
<main class="padding-x-lg padding-y-lg about">
  <div class="grid-noGutter-spaceBetween">
    <div class="col-7_sm-12-middle">
      <p class="editable text-dark">
 	Luz natural, com verdade e beleza.
 </p>
      <div class="padding-y-sm flex-left">
        <a href="mailto:{{site.data.settings.general.email}}" class="contact-link" target="_blank">{% include social-icons.html icon="Email" %}</a>
        <a href="{{site.data.settings.general.instagram_url}}" class="contact-link" target="_blank">{% include social-icons.html icon="Instagram" %}</a>
        <a href="{{site.data.settings.general.linkedin_url}}" class="contact-link" target="_blank">{% include social-icons.html icon="LinkedIn" %}</a>  
      </div>
    </div>
    <div class="col-4_sm-12">
      <div class="profile-image">
        <img src="{{page.image}}" alt="{{site.data.settings.general.site_title}}" class="responsive-img" />
      </div>
    </div>
  </div>
</main>