---
layout: portfolio
title: About
---

<header id="pages-header" class="pages-header">
  {% include essentials/nav-option-1.html %}
</header>
<main class="padding-x-lg padding-y-lg about">
  <div class="grid-noGutter-spaceBetween">
    <div class="col-7_sm-12-middle">
      <p class="editable text-dark">
 	Luz natural, com verdade e beleza.
 </p>
      <div class="padding-y-sm flex-left">
        <a href="mailto:{{site.data.settings.general.email}}" class="contact-link">{% include social-icons.html icon="Email" %}</a>
        <a href="{{site.data.settings.general.instagram_url}}" class="contact-link">{% include social-icons.html icon="Instagram" %}</a>
        <a href="{{site.data.settings.general.linkedin_url}}" class="contact-link">{% include social-icons.html icon="LinkedIn" %}</a>  
      </div>
    </div>
    <div class="col-4_sm-12">
      <div class="profile-image">
        <img src="/assets/images/bruno-santos-fotografo.jpg" alt="" class="responsive-img" />
      </div>
    </div>
  </div>
</main>