---
layout: default
title: Bruno Santos Fotografia
logo_version: light
header_image: /assets/images/IMG_4149.jpg
mobile_header_image: /assets/images/IMG_4203.jpg
about_image: /assets/images/bruno-santos-fotografo.jpg
---

<style>
    @media (min-width: 300px) and (max-width: 660px) {
    .home-header {
      background-image: url({{page.mobile_header_image}}) !important;
    }
  }
  </style>
<header class="home-header" style="background-image: url({{page.header_image}});">
  {% include essentials/nav-option-1.html %}
</header>
<section id="about" class="about-section bg-light grid-noGutter-spaceAround-reverse padding-x-lg padding-y-lg">
  <div class="col-6_sm-12-middle section-image">
    <div class="padding-y-md">
      <div class="img-container">
       <img src="{{page.about_image}}" class="responsive-img" />
      </div>
    </div>
  </div>
  <div class="col-6_sm-12-middle section-content">
    <div class="padding-y-md">
      <h2 class="section-heading impact-heading editable">
 	About
 </h2>
      <p class="editable mb-2">
 	Essencial e verdadeiro.<br />Essas palavras definem muito bem, &nbsp;o caminho pelo qual gosto de levar o meu trabalho de fot&oacute;grafo. A luz natural torna isso tudo ainda mais interessante. &nbsp;Um olhar &uacute;nico, como todos s&atilde;o, por&eacute;m, com uma certa particularidade. A busca por uma identidade &eacute; constante e por evolu&ccedil;&atilde;o tamb&eacute;m. Acredito que imagens falam por si, por isso prefiro sempre, que elas falem de mim.
 </p>
      <a href="/about" class="btn-outline editable">About Bruno</a>
    </div>
  </div>
</section>
<section id="portfolios" class="portfolios padding-x-lg padding-y-sm">
  {% for portfolio in site.portfolios %}
    <a href="{{portfolio.url}}" class="row">
      <div class="row-container padding-x-md flex-{% cycle 'start', 'end'%}" style="background-image: url({{portfolio.feature_image}});">
      </div>
      <h2 class="impact-heading">{{portfolio.title}}</h2>
    </a>
  <br />
  {% endfor %}  
</section>
