@media (min-width: 320px) and (max-width: 660px) {
  .sticky-nav-bar .nav-branding .nav-title {
    font-size: 2rem;
    font-weight: initial;
  }
  .about-section {
    .img-container {
      width: 100%;
      height: 400px;
    }
    .section-image [class*=padding-y] {
      padding-bottom: 1rem;
      padding-top: 1rem;
    }
  }
  .row {
    height: 350px;
  }
  .impact-heading {
    font-size: 2rem;
    &::before {
    bottom: 2px;
    width: 1rem;
    height: 3px;
    left: 2px;
    }
  }
  .row-container:last-of-type {
    margin-bottom: 12rem;
  }
  .footer {
    .nav-title {
      font-size: 1.5rem;
    }
    .nav-social-link svg {
      width: 20px;
    }
    .copywrite {
      p,
      a {
        font-size: 0.7rem;

      }
    }
    .copywrite.flex-end {
      justify-content: center;
      flex-direction: column;
    }
    .footer-nav {
      text-align: center;
    }
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .burger {
    display: inline-flex;
  }
  .nav-menu {
    display: none;
    .nav-link {
      font-size: 0.8rem;
    }
    .nav-link-sub {
      font-size: 0.8rem;
    }
  }
  .nav-logo {
    width: 250px;
  }
}
@media (min-width: 660px) and (max-width: 1024px) {
  
  .impact-heading {
    font-size: 3rem;
  }
  p,
  span,
  a,
  ul,
  ol,
  li,
  button,
  input,
  textarea,
  label,
  cite,
  blockquote {
    font-size: 0.8rem;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .sticky-nav-bar .nav-branding .nav-title {
    font-size: 3rem;
  }
  .impact-heading {
    font-size: 3rem;
  }
  p,
  span,
  a,
  ul,
  ol,
  li,
  button,
  input,
  textarea,
  label,
  cite,
  blockquote {
    font-size: 1rem;
  }
}