.pages-header {
  height: auto;
}
.row-container {
  height: 500px;
  &:last-of-type {
    margin-bottom:6rem;
  }
  @include background-center-cover;
  a {
    line-height: unset;
  }
  .impact-heading {
    color: $primary-color;
    &::before {
      background-color: $primary-color;
    }
  }
}
.white-border {
  border: 5px solid;
  border-color: white;
}
.with-quote {
  position: relative;
  .quote {
    position: absolute;
    bottom: 25%;
    left: 5rem;
    font-size: 3rem;
  }
}

.quote {
  .gallery-quote {
    font-size: 2.5rem;
    color: $accent-color;
    position: relative;
    text-indent: 2rem;
    &::before {
      content: '\201C';
      position: absolute;
      left: -2.5rem;
      top: -2rem;
      font-size: 6rem;
    }
  }
  .quote-cite {
    font-size: 1.5rem;
    color: dimgray;
  }
}