---
layout: default
---
<header id="pages-header" class="pages-header">
  {% include essentials/nav-option-1.html %}
  <section id="portfolio-showcase" class="portfolio-showcase grid-noGutter padding-x-lg padding-y-lg">
    <div class="col-6_sm-12-middle intro">
      <h3>Portfolio</h3>
      <h2 class="impact-heading mb-2">{{page.title}}</h2>
      <p>
        {{page.description_text}}
      </p>
    </div>
    <div class="col-6_sm-12-bottom white-border">
      <div class="image-container">
        <img src="/assets/images/bruno-santos-fotografo-humanitarian-IMG_0094.jpg" class="responsive-img" alt="">
      </div>
    </div>
  </section>
</header>
<section id="gallery" class="gallery padding-x-lg">
  <div class="grid-noGutter-spaceBetween">
    {% for image in page.gallery %}
    <div class="{% if image.size == 'full-width' %}col-12{% endif %}{% if image.size == 'one-third' %}col-4_sm-12{% endif %}{% if image.size == 'two-thirds' %}col-8_sm-12{% endif %}{% if image.size == 'half-width' %}col-6_sm-12{% endif %} white-border">
      {% unless image.frame_image == nil %}<img src="{{image.frame_image}}" class="responsive-img" alt="">{% endunless %}
    </div>
    {% endfor %}
    <div id="quote" class="quote padding-y-md">
      <blockquote>
        <p class="gallery-quote">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim unde ex commodi quidem qui beatae, nobis magnam mollitia numquam quos.</p>
        <cite class="quote-cite">H.C. Bresson</cite>
      </blockquote>
    </div>
  </div>
</section>
