---
layout: default
---
<header id="pages-header" class="pages-header">
  {% include essentials/nav-option-1.html %}
  <section id="portfolio-showcase" class="portfolio-showcase grid-noGutter padding-x-lg padding-y-lg">
    <div class="col-6_sm-12-middle intro">
      <h3>Portfolio</h3>
      <h2 class="impact-heading mb-2">{{page.title}}</h2>
      <p>
        {{page.description_text}}
      </p>
    </div>
    <div class="col-6_sm-12-bottom white-border">
      <div class="image-container">
        {% unless page.feature_image == nil %}
        <img src="{{page.feature_image}}" class="responsive-img" alt="">
        {% endunless %}
      </div>
    </div>
  </section>
</header>

<section id="gallery" class="gallery padding-x-lg">
  <div class="grid-noGutter-spaceBetween">
    {% for image in page.gallery %}
    <div class="{% if image.size == 'full-width' %}col-12{% endif %}{% if image.size == 'one-third' %}col-4_sm-12{% endif %}{% if image.size == 'two-thirds' %}col-8_sm-12{% endif %}{% if image.size == 'half-width' %}col-6_sm-12{% endif %} white-border">
      {% unless image.frame_image == nil %}<img src="{{image.frame_image}}" class="responsive-img" alt="Bruno Santos Fotografia - Humanitarian, Portraits, Fine Art, Corporate">{% endunless %}
    </div>
    {% endfor %}
    {% if page.quote != nil %}
    <div id="quote" class="quote padding-y-md">
      <blockquote>
        <p class="gallery-quote">{{page.quote}}</p>
        <cite class="quote-cite">{{page.quote-owner}}</cite>
      </blockquote>
    </div>
    {% endif %}
  </div>
</section>
<!-- <section class="portfolios padding-y-lg padding-x-lg flex-center">
  {% for portfolio in site.portfolios %}
    {% unless portfolio.title == page.title %}
      <a href="{{portfolio.url}}"><h2>{{portfolio.title}}</h2></a>
    {% endunless %}
  {% endfor %}
</section> -->
